:root {
    --font-light: 300;
    --font-regular: 400
   }
   @font-face {
    font-weight:400;
    font-family:MangoSans;
    font-style:normal;
    src:url("//st.mngbcn.com/static/assets/fonts/MangoSans-Regular.woff2") format("woff2");
    font-display:fallback
   }
   @font-face {
    font-weight:400;
    font-family:MangoSans;
    font-style:italic;
    src:url("//st.mngbcn.com/static/assets/fonts/MangoSans-RegularItalic.woff2") format("woff2");
    font-display:fallback
   }
   @font-face {
    font-weight:300;
    font-family:MangoSans;
    font-style:normal;
    src:url("//st.mngbcn.com/static/assets/fonts/MangoSans-Light.woff2") format("woff2");
    font-display:fallback
   }
   @font-face {
    font-weight:300;
    font-family:MangoSans;
    font-style:italic;
    src:url("//st.mngbcn.com/static/assets/fonts/MangoSans-LightItalic.woff2") format("woff2");
    font-display:fallback
   }
   @font-face {
    font-weight:300;
    font-family:Austin;
    font-style:normal;
    src:url("//st.mngbcn.com/static/assets/fonts/austin/Austin-Light.woff2") format("woff2")
   }
   @font-face {
    font-weight:300;
    font-family:Austin;
    font-style:italic;
    src:url("//st.mngbcn.com/static/assets/fonts/austin/Austin-LightItalic.woff2") format("woff2")
   }
   @font-face {
    font-weight:normal;
    font-family:MangoIconOutline;
    font-style:normal;
    src:url("//st.mngbcn.com/static/assets/fonts/mangoicon-outline.woff?ts=5") format("woff")
   }
   @font-face {
    font-weight:normal;
    font-family:MangoIconFill;
    font-style:normal;
    src:url("//st.mngbcn.com/static/assets/fonts/mangoicon-fill.woff?ts=3") format("woff")
   }
   :root {
    --white: #fff;
    --gray-10: #fafafa;
    --gray-20: #f3f3f3;
    --gray-30: #d7d7d8;
    --gray-40: #b8b8b8;
    --gray-50: #aaa;
    --gray-60: #666;
    --gray-100: #121314;
    --red-10: #ffe5e6;
    --red-30: #f99;
    --red-60: #f33;
    --red-70: #e90000;
    --red-80: #c92f2f;
    --orange-10: #fde3d2;
    --orange-30: #ffac80;
    --orange-60: #ff7a33;
    --orange-70: #ff5900;
    --orange-80: #d14900;
    --beige-10: #f3eee7;
    --beige-30: #ccb799;
    --beige-60: #aa8755;
    --beige-70: #665133;
    --beige-80: #443622;
    --green-10: #d6ffd6;
    --green-30: #9f9;
    --green-60: #00ad00;
    --green-70: #008a00;
    --green-80: #1c6e1c;
    --transparency-black: rgba(18, 19, 20, 0.8);
    --transparency-black-soft: rgba(30, 49, 68, 0.5);
    --transparency-white: rgba(255, 255, 255, 0.8);
    --transparency-white-soft: rgba(255, 255, 255, 0.5)
   }
   :root {
    --content-1: var(--gray-100);
    --content-2: var(--gray-60);
    --content-3: var(--gray-50);
    --content-inverse: var(--white);
    --content-hover: var(--gray-60);
    --content-active: var(--gray-100);
    --content-disabled: var(--gray-50);
    --background-1: var(--white);
    --background-2: var(--gray-10);
    --background-3: var(--gray-20);
    --background-4: var(--beige-10);
    --background-transparency-black: var(--transparency-black);
    --background-transparency-white: var(--transparency-white);
    --background-transparency-black-soft: var(--transparency-black-soft);
    --background-transparency-white-soft: var(--transparency-white-soft);
    --background-inverse: var(--gray-100);
    --background-inverse-2: var(--red-80);
    --background-hover: var(--gray-40);
    --background-inverse-hover: var(--gray-60);
    --background-disabled: var(--gray-50);
    --border-1: var(--gray-100);
    --border-2: var(--gray-50);
    --border-3: var(--gray-30);
    --border-inverse: var(--white);
    --semantic-highlight: var(--gray-100);
    --semantic-highlight-2: var(--white);
    --semantic-highlight-3: var(--gray-100);
    --semantic-danger: var(--red-60);
    --semantic-warning: var(--orange-80);
    --semantic-success: var(--green-70);
    --semantic-highlight-hover: var(--gray-60);
    --semantic-highlight-active: var(--gray-100);
    --semantic-highlight-2-hover: var(--red-30);
    --semantic-highlight-3-hover: var(--gray-60);
    --semantic-highlight-3-active: var(--transparency-black);
    --semantic-highlight-3-disabled: var(--gray-50);
    --semantic-danger-active: var(--red-60);
    --content-hover-2: var(--transparency-white-soft);
    --semantic-danger-background: var(--red-80)
   }
   [class^=icon-fill-]::before,
   [class*=" icon-fill-"]::before {
    font-weight:normal;
    font-family:MangoIconFill;
    font-style:normal;
    line-height:1;
    speak:none
   }
   .icon-fill-account::before {
    content:""
   }
   .icon-fill-active::before {
    content:""
   }
   .icon-fill-bag::before {
    content:""
   }
   .icon-fill-box-close::before {
    content:""
   }
   .icon-fill-box-open::before {
    content:""
   }
   .icon-fill-card::before {
    content:""
   }
   .icon-fill-chat::before {
    content:""
   }
   .icon-fill-clipboard::before {
    content:""
   }
   .icon-fill-close::before {
    content:""
   }
   .icon-fill-close-l::before {
    content:""
   }
   .icon-fill-close-m::before {
    content:""
   }
   .icon-fill-close-s::before {
    content:""
   }
   .icon-fill-code::before {
    content:""
   }
   .icon-fill-devolucion::before {
    content:""
   }
   .icon-fill-done::before {
    content:""
   }
   .icon-fill-down::before {
    content:""
   }
   .icon-fill-down-s::before {
    content:""
   }
   .icon-fill-dropdown::before {
    content:""
   }
   .icon-fill-email::before {
    content:""
   }
   .icon-fill-envio::before {
    content:""
   }
   .icon-fill-error::before {
    content:""
   }
   .icon-fill-eye-off::before {
    content:""
   }
   .icon-fill-eye-on::before {
    content:""
   }
   .icon-fill-facebook::before {
    content:""
   }
   .icon-fill-favorites::before {
    content:""
   }
   .icon-fill-filter::before {
    content:""
   }
   .icon-fill-fingerprint::before {
    content:""
   }
   .icon-fill-fluid::before {
    content:""
   }
   .icon-fill-foursquare::before {
    content:""
   }
   .icon-fill-full::before {
    content:""
   }
   .icon-fill-gallery::before {
    content:""
   }
   .icon-fill-google::before {
    content:""
   }
   .icon-fill-grade::before {
    content:""
   }
   .icon-fill-hamburger::before {
    content:""
   }
   .icon-fill-leaf::before {
    content:""
   }
   .icon-fill-home::before {
    content:""
   }
   .icon-fill-info::before {
    content:""
   }
   .icon-fill-instagram::before {
    content:""
   }
   .icon-fill-keyboard-backspace::before {
    content:""
   }
   .icon-fill-keyboard-next::before {
    content:""
   }
   .icon-fill-keyboard-return::before {
    content:""
   }
   .icon-fill-language::before {
    content:""
   }
   .icon-fill-link::before {
    content:""
   }
   .icon-fill-linkedin::before {
    content:""
   }
   .icon-fill-location::before {
    content:""
   }
   .icon-fill-mango::before {
    content:""
   }
   .icon-fill-more::before {
    content:""
   }
   .icon-fill-nationality::before {
    content:""
   }
   .icon-fill-next::before {
    content:""
   }
   .icon-fill-next-s::before {
    content:""
   }
   .icon-fill-notification::before {
    content:""
   }
   .icon-fill-open::before {
    content:""
   }
   .icon-fill-pago-seguro::before {
    content:""
   }
   .icon-fill-pause::before {
    content:""
   }
   .icon-fill-photo::before {
    content:""
   }
   .icon-fill-pinterest::before {
    content:""
   }
   .icon-fill-play::before {
    content:""
   }
   .icon-fill-plus::before {
    content:""
   }
   .icon-fill-plus-s::before {
    content:""
   }
   .icon-fill-power::before {
    content:""
   }
   .icon-fill-prev::before {
    content:""
   }
   .icon-fill-prev-s::before {
    content:""
   }
   .icon-fill-print::before {
    content:""
   }
   .icon-fill-product::before {
    content:""
   }
   .icon-fill-qq::before {
    content:""
   }
   .icon-fill-refresh::before {
    content:""
   }
   .icon-fill-report::before {
    content:""
   }
   .icon-fill-scan::before {
    content:""
   }
   .icon-fill-search::before {
    content:""
   }
   .icon-fill-search-hamburger::before {
    content:""
   }
   .icon-fill-send::before {
    content:""
   }
   .icon-fill-settings::before {
    content:""
   }
   .icon-fill-share::before {
    content:""
   }
   .icon-fill-single::before {
    content:""
   }
   .icon-fill-snapchat::before {
    content:""
   }
   .icon-fill-sound-off::before {
    content:""
   }
   .icon-fill-sound-on::before {
    content:""
   }
   .icon-fill-spotify::before {
    content:""
   }
   .icon-fill-square02::before {
    content:""
   }
   .icon-fill-square04::before {
    content:""
   }
   .icon-fill-store::before {
    content:""
   }
   .icon-fill-store-online::before {
    content:""
   }
   .icon-fill-subtitles::before {
    content:""
   }
   .icon-fill-sync::before {
    content:""
   }
   .icon-fill-tag::before {
    content:""
   }
   .icon-fill-telegram::before {
    content:""
   }
   .icon-fill-time::before {
    content:""
   }
   .icon-fill-toogle::before {
    content:""
   }
   .icon-fill-toogle-check-on::before {
    content:""
   }
   .icon-fill-toogle-radio::before {
    content:""
   }
   .icon-fill-toogle-radio-on::before {
    content:""
   }
   .icon-fill-trash::before {
    content:""
   }
   .icon-fill-tudou::before {
    content:""
   }
   .icon-fill-tumblr::before {
    content:""
   }
   .icon-fill-twitter::before {
    content:""
   }
   .icon-fill-unfoldless::before {
    content:""
   }
   .icon-fill-unfoldless-s::before {
    content:""
   }
   .icon-fill-unfoldmore::before {
    content:""
   }
   .icon-fill-unfoldmore-s::before {
    content:""
   }
   .icon-fill-up::before {
    content:""
   }
   .icon-fill-up-s::before {
    content:""
   }
   .icon-fill-voice::before {
    content:""
   }
   .icon-fill-wallet::before {
    content:""
   }
   .icon-fill-weibo::before {
    content:""
   }
   .icon-fill-whatsapp::before {
    content:""
   }
   .icon-fill-youtube::before {
    content:""
   }
   .icon-fill-zoom-in01::before {
    content:""
   }
   .icon-fill-zoom-in02::before {
    content:""
   }
   .icon-fill-zoom-out01::before {
    content:""
   }
   .icon-fill-zoom-out02::before {
    content:""
   }
   .icon-fill-help::before {
    content:""
   }
   .icon-fill-phone::before {
    content:""
   }
   .icon-fill-done-s::before {
    content:""
   }
   [class^=icon-outline-]::before,
   [class*=" icon-outline-"]::before {
    font-weight:normal;
    font-family:MangoIconOutline;
    font-style:normal;
    line-height:1;
    speak:none
   }
   .icon-outline-account::before {
    content:""
   }
   .icon-outline-active::before {
    content:""
   }
   .icon-outline-bag::before {
    content:""
   }
   .icon-outline-box-close::before {
    content:""
   }
   .icon-outline-box-open::before {
    content:""
   }
   .icon-outline-card::before {
    content:""
   }
   .icon-outline-chat::before {
    content:""
   }
   .icon-outline-clipboard::before {
    content:""
   }
   .icon-outline-close::before {
    content:""
   }
   .icon-outline-close-l::before {
    content:""
   }
   .icon-outline-close-m::before {
    content:""
   }
   .icon-outline-close-s::before {
    content:""
   }
   .icon-outline-code::before {
    content:""
   }
   .icon-outline-devolucion::before {
    content:""
   }
   .icon-outline-done::before {
    content:""
   }
   .icon-outline-down::before {
    content:""
   }
   .icon-outline-down-s::before {
    content:""
   }
   .icon-outline-dropdown::before {
    content:""
   }
   .icon-outline-email::before {
    content:""
   }
   .icon-outline-envio::before {
    content:""
   }
   .icon-outline-error::before {
    content:""
   }
   .icon-outline-eye-off::before {
    content:""
   }
   .icon-outline-eye-on::before {
    content:""
   }
   .icon-outline-facebook::before {
    content:""
   }
   .icon-outline-favorites::before {
    content:""
   }
   .icon-outline-filter::before {
    content:""
   }
   .icon-outline-fingerprint::before {
    content:""
   }
   .icon-outline-fluid::before {
    content:""
   }
   .icon-outline-foursquare::before {
    content:""
   }
   .icon-outline-full::before {
    content:""
   }
   .icon-outline-gallery::before {
    content:""
   }
   .icon-outline-google::before {
    content:""
   }
   .icon-outline-grade::before {
    content:""
   }
   .icon-outline-hamburger::before {
    content:""
   }
   .icon-outline-help::before {
    content:""
   }
   .icon-outline-home::before {
    content:""
   }
   .icon-outline-info::before {
    content:""
   }
   .icon-outline-instagram::before {
    content:""
   }
   .icon-outline-keyboard-backspace::before {
    content:""
   }
   .icon-outline-keyboard-next::before {
    content:""
   }
   .icon-outline-keyboard-return::before {
    content:""
   }
   .icon-outline-language::before {
    content:""
   }
   .icon-outline-link::before {
    content:""
   }
   .icon-outline-linkedin::before {
    content:""
   }
   .icon-outline-location::before {
    content:""
   }
   .icon-outline-mango::before {
    content:""
   }
   .icon-outline-more::before {
    content:""
   }
   .icon-outline-nationality::before {
    content:""
   }
   .icon-outline-next::before {
    content:""
   }
   .icon-outline-next-s::before {
    content:""
   }
   .icon-outline-notification::before {
    content:""
   }
   .icon-outline-open::before {
    content:""
   }
   .icon-outline-pago-seguro::before {
    content:""
   }
   .icon-outline-pause::before {
    content:""
   }
   .icon-outline-photo::before {
    content:""
   }
   .icon-outline-pinterest::before {
    content:""
   }
   .icon-outline-play::before {
    content:""
   }
   .icon-outline-plus::before {
    content:""
   }
   .icon-outline-plus-s::before {
    content:""
   }
   .icon-outline-power::before {
    content:""
   }
   .icon-outline-prev::before {
    content:""
   }
   .icon-outline-prev-s::before {
    content:""
   }
   .icon-outline-print::before {
    content:""
   }
   .icon-outline-product::before {
    content:""
   }
   .icon-outline-leaf::before {
    content:""
   }
   .icon-outline-refresh::before {
    content:""
   }
   .icon-outline-report::before {
    content:""
   }
   .icon-outline-scan::before {
    content:""
   }
   .icon-outline-search::before {
    content:""
   }
   .icon-outline-search-hamburger::before {
    content:""
   }
   .icon-outline-send::before {
    content:""
   }
   .icon-outline-settings::before {
    content:""
   }
   .icon-outline-share::before {
    content:""
   }
   .icon-outline-single::before {
    content:""
   }
   .icon-outline-snapchat::before {
    content:""
   }
   .icon-outline-sound-off::before {
    content:""
   }
   .icon-outline-sound-on::before {
    content:""
   }
   .icon-outline-spotify::before {
    content:""
   }
   .icon-outline-square02::before {
    content:""
   }
   .icon-outline-square04::before {
    content:""
   }
   .icon-outline-store::before {
    content:""
   }
   .icon-outline-store-online::before {
    content:""
   }
   .icon-outline-subtitles::before {
    content:""
   }
   .icon-outline-sync::before {
    content:""
   }
   .icon-outline-tag::before {
    content:""
   }
   .icon-outline-telegram::before {
    content:""
   }
   .icon-outline-time::before {
    content:""
   }
   .icon-outline-toogle::before {
    content:""
   }
   .icon-outline-toogle-check-on::before {
    content:""
   }
   .icon-outline-toogle-radio::before {
    content:""
   }
   .icon-outline-toogle-radio-on::before {
    content:""
   }
   .icon-outline-trash::before {
    content:""
   }
   .icon-outline-tudou::before {
    content:""
   }
   .icon-outline-tumblr::before {
    content:""
   }
   .icon-outline-twitter::before {
    content:""
   }
   .icon-outline-unfoldless::before {
    content:""
   }
   .icon-outline-unfoldless-s::before {
    content:""
   }
   .icon-outline-unfoldmore::before {
    content:""
   }
   .icon-outline-unfoldmore-s::before {
    content:""
   }
   .icon-outline-up::before {
    content:""
   }
   .icon-outline-up-s::before {
    content:""
   }
   .icon-outline-voice::before {
    content:""
   }
   .icon-outline-wallet::before {
    content:""
   }
   .icon-outline-weibo::before {
    content:""
   }
   .icon-outline-whatsapp::before {
    content:""
   }
   .icon-outline-youtube::before {
    content:""
   }
   .icon-outline-zoom-in01::before {
    content:""
   }
   .icon-outline-zoom-in02::before {
    content:""
   }
   .icon-outline-zoom-out01::before {
    content:""
   }
   .icon-outline-zoom-out02::before {
    content:""
   }
   .icon-outline-qq::before {
    content:""
   }
   .icon-outline-anti-dust::before {
    content:""
   }
   .icon-outline-anti-stain::before {
    content:""
   }
   .icon-outline-bi-stretch::before {
    content:""
   }
   .icon-outline-cool-max::before {
    content:""
   }
   .icon-outline-easy-iron::before {
    content:""
   }
   .icon-outline-four-way-stretch::before {
    content:""
   }
   .icon-outline-machine-washable::before {
    content:""
   }
   .icon-outline-non-iron::before {
    content:""
   }
   .icon-outline-quick-dry::before {
    content:""
   }
   .icon-outline-solotex::before {
    content:""
   }
   .icon-outline-stretch::before {
    content:""
   }
   .icon-outline-thermoregulator::before {
    content:""
   }
   .icon-outline-water-proof::before {
    content:""
   }
   .icon-outline-water-repellent::before {
    content:""
   }
   .icon-outline-wind-proof::before {
    content:""
   }
   .icon-outline-wrinkle-free::before {
    content:""
   }
   .icon-outline-packable::before {
    content:""
   }
   .icon-outline-breathable::before {
    content:""
   }
   .icon-outline-lightweight::before {
    content:""
   }
   .icon-outline-uv-protection::before {
    content:""
   }
   .icon-outline-graphene-anti-static::before {
    content:""
   }
   .icon-outline-graphene-antibacterial::before {
    content:""
   }
   .icon-outline-graphene-thermal-conductivity::before {
    content:""
   }
   .icon-outline-contactless-protection::before {
    content:""
   }
   .icon-outline-polarized::before {
    content:""
   }
   .icon-outline-phone::before {
    content:""
   }
   .icon-outline-return-bag::before {
    content:""
   }
   .icon-outline-hanger::before {
    content:""
   }
   :root {
    --font-light: 300;
    --font-regular: 400
   }
   .text-title-xxxl {
    color:var(--content-1);
    font-weight:400;
    font-size:2rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:3rem;
    letter-spacing:.01875rem
   }
   @media(min-width: 1024px) {
    .text-title-xxxl {
     font-size:2.5rem;
     line-height:3rem
    }
   }
   .text-title-xxl {
    color:var(--content-1);
    font-weight:400;
    font-size:2rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:3rem;
    letter-spacing:.01875rem
   }
   @media(min-width: 1024px) {
    .text-title-xxl {
     font-size:2rem;
     line-height:2.375rem
    }
   }
   .text-title-xl {
    color:var(--content-1);
    font-weight:400;
    font-size:1.25rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.875rem;
    letter-spacing:.01875rem
   }
   @media(min-width: 1024px) {
    .text-title-xl {
     font-size:1.25rem;
     line-height:1.875rem
    }
   }
   .text-title-l {
    color:var(--content-1);
    font-weight:400;
    font-size:1rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.5rem;
    letter-spacing:.01875rem
   }
   @media(min-width: 1024px) {
    .text-title-l {
     font-size:1rem;
     line-height:1.5rem
    }
   }
   .text-title-m {
    color:var(--content-1);
    font-weight:400;
    font-size:.875rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.375rem;
    letter-spacing:.01875rem
   }
   @media(min-width: 1024px) {
    .text-title-m {
     font-size:.8125rem;
     line-height:1.25rem
    }
   }
   .text-title-s {
    color:var(--content-1);
    font-weight:400;
    font-size:.75rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.125rem;
    letter-spacing:.01875rem
   }
   @media(min-width: 1024px) {
    .text-title-s {
     font-size:.6875rem;
     line-height:1rem
    }
   }
   .text-body-l {
    color:var(--content-1);
    font-weight:300;
    font-size:.9375rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.375rem;
    letter-spacing:.01875rem
   }
   @media(min-width: 1024px) {
    .text-body-l {
     font-size:.875rem;
     line-height:1.375rem
    }
   }
   .text-body-m {
    color:var(--content-1);
    font-weight:300;
    font-size:.875rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.375rem;
    letter-spacing:.01875rem
   }
   @media(min-width: 1024px) {
    .text-body-m {
     font-size:.8125rem;
     line-height:1.25rem
    }
   }
   .text-body-m-regular {
    color:var(--content-1);
    font-weight:400;
    font-size:.875rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.375rem;
    letter-spacing:.01875rem
   }
   @media(min-width: 1024px) {
    .text-body-m-regular {
     font-size:.8125rem;
     line-height:1.25rem
    }
   }
   .text-body-m-regular-underline {
    color:var(--content-1);
    font-weight:400;
    font-size:.875rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.375rem;
    letter-spacing:.01875rem;
    text-decoration:underline;
    text-decoration-thickness:.0625rem;
    text-underline-offset:.25rem
   }
   @media(min-width: 1024px) {
    .text-body-m-regular-underline {
     font-size:.8125rem;
     line-height:1.25rem
    }
   }
   .text-body-s {
    color:var(--content-1);
    font-weight:300;
    font-size:.75rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.125rem;
    letter-spacing:.01875rem
   }
   @media(min-width: 1024px) {
    .text-body-s {
     font-size:.6875rem;
     line-height:1rem
    }
   }
   .text-body-s-underline {
    color:var(--content-1);
    font-weight:300;
    font-size:.75rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.125rem;
    letter-spacing:.01875rem;
    text-decoration:underline;
    text-decoration-thickness:.0625rem;
    text-underline-offset:.25rem
   }
   @media(min-width: 1024px) {
    .text-body-s-underline {
     font-size:.6875rem;
     line-height:1rem
    }
   }
   .text-body-s-regular {
    color:var(--content-1);
    font-weight:400;
    font-size:.75rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.125rem;
    letter-spacing:.01875rem
   }
   @media(min-width: 1024px) {
    .text-body-s-regular {
     font-size:.6875rem;
     line-height:1rem
    }
   }
   .text-body-s-regular-underline {
    color:var(--content-1);
    font-weight:400;
    font-size:.75rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.125rem;
    letter-spacing:.01875rem;
    text-decoration:underline;
    text-decoration-thickness:.0625rem;
    text-underline-offset:.25rem
   }
   @media(min-width: 1024px) {
    .text-body-s-regular-underline {
     font-size:.6875rem;
     line-height:1rem
    }
   }
   .text-uppercase-xl {
    color:var(--content-1);
    font-weight:400;
    font-size:1rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.5rem;
    letter-spacing:.0625rem
   }
   @media(min-width: 1024px) {
    .text-uppercase-xl {
     font-size:1rem;
     line-height:1.5rem
    }
   }
   .text-uppercase-l {
    color:var(--content-1);
    font-weight:400;
    font-size:.875rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.375rem;
    letter-spacing:.0625rem
   }
   @media(min-width: 1024px) {
    .text-uppercase-l {
     font-size:.8125rem;
     line-height:1.25rem
    }
   }
   .text-uppercase-m {
    color:var(--content-1);
    font-weight:400;
    font-size:.75rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1.125rem;
    letter-spacing:.0625rem;
    text-transform:uppercase
   }
   @media(min-width: 1024px) {
    .text-uppercase-m {
     font-size:.75rem;
     line-height:1.125rem
    }
   }
   .text-uppercase-s {
    color:var(--content-1);
    font-weight:400;
    font-size:.625rem;
    font-family:"MangoSans",arial,helvetica,verdana,sans-serif;
    line-height:1rem;
    letter-spacing:.0625rem;
    text-transform:uppercase
   }
   @media(min-width: 1024px) {
    .text-uppercase-s {
     font-size:.625rem;
     line-height:1rem
    }
   }
   .sr-only {
    position:absolute;
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    overflow:hidden;
    white-space:nowrap;
    border-width:0;
    clip:rect(0, 0, 0, 0)
   }
   .sr-only-focus {
    position:static;
    width:auto;
    height:auto;
    padding:0;
    margin:0;
    overflow:visible;
    clip:auto;
    white-space:normal
   }
   .skeleton {
    position:relative;
    font-size:0
   }
   .skeleton::after {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display:block;
    box-sizing:border-box;
    font-size:0;
    background:linear-gradient(90deg, #d7d7d8, #fafafa);
    background-size:400% 400%;
    border-radius:.125rem;
    -webkit-animation:skeleton-animation 3s ease infinite;
    animation:skeleton-animation 3s ease infinite;
    content:""
   }
   @-webkit-keyframes skeleton-animation {
    0% {
     background-position:0% 50%
    }
    50% {
     background-position:100% 50%
    }
    100% {
     background-position:0% 50%
    }
   }
   @keyframes skeleton-animation {
    0% {
     background-position:0% 50%
    }
    50% {
     background-position:100% 50%
    }
    100% {
     background-position:0% 50%
    }
   }
   