.VVFx2 {
    position:absolute;
    box-sizing:border-box;
    padding:.5rem .75rem;
    background:#fff;
    border:1px solid #121314;
    max-width:30rem
   }
   .Mio_C {
    position:absolute;
    display:block;
    box-sizing:border-box;
    width:.5rem;
    height:.5rem;
    background:#fff;
    border:solid #121314;
    border-top-width:0;
    border-right-width:0;
    border-bottom-width:0;
    border-left-width:0
   }
   