.AUYCX,
.hyoqX {
  width: 0.938rem;
  font-weight: 400;
  font-size: 0.625rem;
  font-family: MangoSans, sans-serif;
  line-height: initial;
  text-align: left;
}
.hyoqX {
  position: absolute;
  right: 0.938rem;
  bottom: 1.5rem;
}
.AUYCX {
  position: absolute;
  right: 0;
  bottom: 0.563rem;
}
.WZYyZ {
  position: relative;
  width: 78px;
  height: 64px;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 58px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.bWheK {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}
.ItUDU {
  position: absolute;
  top: 0.813rem;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 22px;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}
.RyoN5 {
  position: absolute;
  bottom: 0.75rem;
  left: 0;
  width: 78px;
  font-weight: 400;
  font-size: 0.688rem;
  line-height: 0.875rem;
  white-space: nowrap;
  text-align: center;
}
